.friendMessage {
    padding: 0 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    align-items: center;
    gap:25px
}

.friendImageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.friendText {
    background-color: #F5F7FB;
    display: inline-block;
    max-width: 575px;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 5px #e6e6e6;
    text-wrap: pretty;

}

.friendText:after {
    content: "";
    position: absolute;
    /* background-color: #0066CC; */
    /* width: 25px; */
    /* height: 25px; */
    transform: rotate(359deg);
    left: 5px;
    margin-left: 127px;
    bottom: 490px;
     /*background: radial-gradient(60px at top left, transparent 49%, blue 51%) no-repeat right bottom;*/
    border-left: 12px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 13px solid #F5F7FB;
    box-shadow: 10px 10px 5px #e6e6e6;

    /*border-top: 15px solid #0066CC;*/
}

.friendName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
}


.friendMessageText {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: black;

}



.friendTime {
    padding-left: 13px;
    font-weight: 600;
    font-size: 10px;
    color: black;
}
